# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Build output
build/
DerivedData/
*.xcarchive

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods (falls je verwendet)
Pods/

# Fastlane (falls je verwendet)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Secrets / Credentials
*.p12
*.p8
*.mobileprovision
ExportOptions.plist
